<!doctype html>
<title>A music test</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
  <h1>Sound clip #{{num}}</h1>

  <div class=metanav>

    <audio controls="controls", autoplay="autoplay">
      <source src="/static/audioclips/{{filename}}" type="audio/mp3" />
    </audio>

<h4>
<form id='dataform' method='post' action='item' >
   <p>
   Do you recognize it?: <br />
   <input type='radio' name='recog' value="yes"/> Yes <br />
   <input type='radio' name='recog' value="no"/> No <br />
   </p>
   <p>
   Name the composer: <br />
   <input type='text' name='comp'>
   </p>
   <p>
   Confidence (5=high): <br />
   <input type='radio' name='comp_conf' value="1" /> 1
   <input type='radio' name='comp_conf' value="2" /> 2
   <input type='radio' name='comp_conf' value="3" /> 3
   <input type='radio' name='comp_conf' value="4" /> 4
   <input type='radio' name='comp_conf' value="5" /> 5
   </p>
   <p>
   Name the piece: <br />
   <input type='text' name='piece'>  
   </p>
   <p>
   Confidence (5=high): <br />
   <input type='radio' name='piece_conf' value="1" /> 1
   <input type='radio' name='piece_conf' value="2" /> 2
   <input type='radio' name='piece_conf' value="3" /> 3
   <input type='radio' name='piece_conf' value="4" /> 4
   <input type='radio' name='piece_conf' value="5" /> 5
   </p>

   <p>
   <input type='submit' value='Next' />
   </p>
</form>
</h4>

</div>

