<!doctype html>
<title>A short quiz</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
<div class=page>
  <h1>Question #{{num}}</h1>

  <div class=metanav>

{{question}}

<h4>
<form id='answerform_lulu' method='post' action='next_lulu' > <!-- action must match your next URL -->
   <p>
   Answer: <br />
   <input type='radio' name='answer_from_layout_lulu' value={{ans1}} /> {{ans1}} <br />
   <input type='radio' name='answer_from_layout_lulu' value={{ans2}} /> {{ans2}} <br />
   <input type='radio' name='answer_from_layout_lulu' value={{ans3}} /> {{ans3}} <br />
   </p>

   <p>
   <input type='submit' value='NextButton_lulu' /> <!--the 'value' is the word that will appear on your button.-->
   </p>
</form>
</h4>

</div>
</div>
