<!doctype html>
<title>A short quiz</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
  <h1>Question #{{num}}</h1>

  <div class=metanav>

{{question}}

<h4>
<form id='answerform' method='post' action='next_lulu' >
   <p>
   Answer: <br />
   <input type='radio' name='answer' value={{ans1}} /> {{ans1}}
   <input type='radio' name='answer' value={{ans2}} /> {{ans2}}
   <input type='radio' name='answer' value={{ans3}} /> {{ans3}}
   </p>

   <p>
   <input type='submit' value='Next' />
   </p>
</form>
</h4>

</div>
</div>
