<!doctype html>
<title>A short quiz</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
<div class=page>
  <h1>A short quiz</h1>
  <div class=metanav>

<h4>
You will be asked {{num}} questions.
Please answer them to the best of your ability.
</h4>

<form id='userinfoform_lulu' method='post' action='index_lulu' > <!-- action is the URL you want to move to next-->
   <p>
   Name: <input type='text' name='name_lulu' />
   </p>
   <p>
   Age: <input type='text' name='age_lulu' />
   </p>
   <p>
   <input type='submit' value='Submit_lulu' /> <!-- value is the text that will appear on the button. -->
   </p>
</form>

</div>
</div>
